{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_user_lots.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">Мої лоти</h1>
    <div class="row">
        {% for lot in lots %}
        <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
                <img src="{{ lot.image_urls[0] }}" class="card-img-top" alt="Лот Image">
                <div class="card-body">
                    <h5 class="card-title">{{ lot.name }}</h5>
                    <p class="card-text">{{ lot.description }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{{ url_for('item_page', item_id=lot.id) }}" class="btn btn-sm btn-outline-secondary">Деталі</a>
                        </div>
                        <small class="text-muted">Початкова ціна: {{ lot.start_price }} грн</small>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
